:root {
  background-color: white;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header p {
  width: 80vw;
  margin-top: 0;
  font-size: 1.5rem;
}

.right {
  text-align: right;
}

h1 {
  color: rgb(0, 58, 167);
}

p {
  max-width: 1000px;
  width: 90%;
}


/* Game */

#Game {
  display: flex;
  justify-content: center;
}

.board {
  background-color: black;
  width: max-content;
}

.square {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 3.5rem;
  background-color: white;
}

.no-right-margin {
  margin-right: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.play-x-button {
  margin-top: 25px;
  margin-right: 25px;
  font-size: 2rem;
  background-color: rgb(199, 219, 255);
}

.play-o-button {
  margin-top: 25px;
  margin-right: 0;
  font-size: 2rem;
  background-color: rgb(199, 219, 255);
}

/* About */
#About {
  align-items: center;
  margin: 150px 0 50px 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  font-size: 2rem;
}

.about p {
  display: inline-block;
  text-align: justify;
  font-size: 1.1rem;
}

#img-exhaustive-search-example {
  width: 90%;
  max-width: 800px;
}

#img-board-value-example {
  width: 90%;
  max-width: 500px;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  text-align: right;
  padding: 25px;
}

footer p {
  margin: 0;
}

footer a {
  color: cornsilk;
  text-decoration: none;
}
