:root {
  background-color: white;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


/* Game */

#Game {
  display: flex;
  justify-content: center;
}

.board {
  background-color: black;
  width: max-content;
}

.square {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 3.5rem;
  background-color: white;
}

.square-right {
  margin-right: 0;
}

.square-bottom {
  margin-bottom: 0;
}